:root {
  --break_xl: 1500px;
  --break_lg: 1250px;
  --break_med: 950px;
  --break_sm: 700px;
  --pad: 2.5rem;
  --line-width: 0.15rem;
}

@font-face {
  font-family: 'Frauen';
  src: url('/fonts/Frauen-Roman.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Frauen-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Frauen-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Frauen-Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Frauen-Roman.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.main {}

html {
  font-size: 10px;
  color: var(--black-ln);
  @media (max-width: $break_lg) {
    font-size: 8px;
  }
  @media (max-width: $break_med) {
    font-size: 7px;
  }
  @media (max-width: $break_sm) {
    font-size: 5px;
  }
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 4rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 5rem;
  font-family: 'Frauen';
  font-weight: 400;
  line-height: 1.1em;
}
h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
h4 {
  font-family: 'Helvetica';
  color: rgb(99, 99, 99);
  margin-bottom: 0;
}
h5 { 
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 2.8rem;
}
h6 {
  font-size: 2.75rem;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
p, strong {
  font-size: 2.2rem;
  margin: 0.2em 0 0 0;
}
small {
  font-size: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 0.85em;
  list-style: none;
}

.full-height {
  height: 100vh;
  padding: var(--pad);
}

.splash-outer {
  height: 100%;
  border: var(--line-width) solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.splash-left {
  flex: 1;
  height: 100%;
  border-right: var(--line-width) solid black;
  display: flex;
  align-items: center;
  position: relative;
}
.splash-right {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
}
.splash-right .splash-content {
  padding: var(--pad);
  padding-bottom: 3em;
  overflow: scroll;
}
.splash-right .footer-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: var(--line-width) solid black;
}
.splash-right a {
  text-decoration: underline;
}
.splash-right a:hover {
  color: rgb(42, 235, 177);
}


.XYZ-logo {
  width: 100%;
  margin: 0 7rem;
}
img.coordinates-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
img.x-axis-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 14px;
  opacity: 0.6;
}
img.y-axis-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 14px;
  opacity: 0.6;
}

@media (max-width: 700px) {
  .full-height {
    height: auto;
  }
  .splash-outer {
    flex-direction: column;
  }
  .splash-left {
    border-right: none;
    border-bottom: var(--line-width) solid black;
    width: 100%;
    min-height: 50vh;
  }
  .splash-right {
    height: auto;
    overflow: visible;
  }
}






.mint-page {
  padding: 2.5rem;
}
.mint-page .outer-container {
  border: var(--line-width) solid black;
}
.mint-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pad);
}
.mint-page .header .links {
  font-size: 0.6em;
}
.mint-page .header .logo svg {
  height: 1em;
}
.mint-page .mint-main img.album-img {
  width: 100%;
  border-radius: 2%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.234);
}
.mint-page .mint-main audio {
  width: 100%;
}
.mint-page .editions-icon {
  margin: 2em 0 2em 0;
  display: flex;
  align-items: center;
}  
.mint-page .editions-icon svg {
  height: 1.8em;
  margin-right: 1rem;
}


.mint-main {
  padding: 2em 0;
  border-top: var(--line-width) solid black; 
}

.mint-main .editions-icon strong {
  display: block;
}
.mint-main .editions-icon small {
  display: block;
}
.mint-main .split-percent svg {
  width: 1.5em;
}
.mint-main .mint-button-bg {
  background: linear-gradient(180deg, #A6D5F8 0%, #F8F8F8 100%);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 17px;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.6em 1.7em;
  margin-right: 2em;
}
.mint-main .mint-button-bg:not(.--inactive):hover {
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

.mint-main .mint-button-container {
  display: flex;
  align-items: center;
}

.mint-info-wrapper {
  font-size: 2.2rem;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.splits {
  padding: 2em 0;
  border-top: var(--line-width) solid black;
}
.splits svg {
  width: 80%;
}
.splits h5 {
  margin-bottom: 1em;
}
@media (max-width: 750px) {
  .splits h5 {
    margin-top: 1em;
  }
}


.text-content {
  border-top: var(--line-width) solid black;
}
.text-content h1, .text-content h6 {
  margin-bottom: 1em;
}
.text-content .main {
  padding: 5em;
}
@media (max-width: 750px) {
  .text-content .main {
    padding: 2em 0;
  }
  .text-content h3 {
    padding-top: 2em;
  }
}

.text-content .sub {
  padding-bottom: 6em;
}
.text-content .sub h3 {
  font-size: 0.8em;
}
.text-content .sub .col-1:not(:last-of-type) {
  padding-right: 1em;
}


.streaming {
  padding: 2em 0;
  border-top: var(--line-width) solid black;
}
.streaming h1 {
  margin-bottom: 1em;
}



.content-container {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em;
}
.row {
  display: flex;
  width: 100%;
}
@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }
}
.row .col-3 {
  flex: 3;
}
.row .col-3:not(:last-of-type) {
  padding-right: 2em;
}
.row .col-2 {
  flex: 2;
}
.row .col-1 {
  flex: 1;
}